.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: Orange;
   color: white;
   text-align: center;
    height:25px;
}

.jumbotron{

background-color: Orange;
color:white;
}

table{

background-color: white;
}

label{
color:white;

}
 .dataTables_info{
color:white !important;

}


 .modal-header{
color:white !important;
background-color: Orange;

}